# DATA TYPES

- integer
- float 
- string 
- list
- tuple
- set
   - frozen set
- dictionary
- boolean
- complex
- range
- byte 
- byte array
- memory view
- none type

- myth
  - only 14-15 data types are availabe

$integer$

In [7]:
number=100
number

100

In [9]:
type(number)

int

**number system**
- binary number system 
- decimal number system 
- octal number system 
- hexa number system

**binary number system**
- it is denoted with **0b** or**0B**
- binary means two
- we have generally 0 to 9 digits only available
- binary means only two digits allowed :0 and 1
- ex: 0b101, 0b111, 0b000
- not valid: 0b123, 0b1000012

In [15]:
0b111

7

In [2]:
0b11101

29

In [ ]:
2^3    2^2   2^1    2^0
8       4      2      1
_______________________________
0       0      0      0      0
0       0      0      1      1
0       0      1      0      2
0       0      1      1      3
0       1      0      0      4
0       1      0      1      5
0       1      1      0      6
0       1      1      1      7
1       0      0      0      8
1       0      0      1      9
1       0      1      0      10
1       0      1      1      11
1       1      0      0      12
1       1      0      1      13
1       1      1      0      14
1       1      1      1      15

**octa number system**
- it is denoted with **0o** or **0O**
- octa means 8
- we have generally 0 to 9 digits available
- octa means eight digits allows :0, 1, 2, 3, 4, 5, 6, 7
- ex: 0o567, 0o0111
- not valid: 0o128

In [23]:
0o123

83

In [25]:
0o567

375

**hexa number system**
- it is denoted with 0x or 0X
- hexa means 16
- we have generally 0 to 9 digits available
- hexa means : 0 to 9 and A to F
- A:10, B:11, C:12, D:13, E:14, F:15
- ex: 0xabc, 0x

In [38]:
0o2025

1045

In [40]:
0x2025

8229

In [42]:
0x7E9

2025

$float$

In [47]:
number=10.5
type(number)

float

In [ ]:
1e1   # 1*10 =10
1e2   # 1*100 =100
2e3   # 2*1000 =2000
4e4   # 4*10000 =40000

In [49]:
print(1e+1)   # 1*10 =10
print(1e+2 ) # 1*100 =100
print(2e+3)   # 2*1000 =2000
print(4e+4)   # 4*10000 =40000

10.0
100.0
2000.0
40000.0

In [53]:
print(1e-1)   # 1/10 =0.1
print(1e-2 ) # 1/100 =0.01
print(2e-3)   # 2/1000 =0.002
print(4e-4)   # 4/10000 =0,0004

0.1
0.01
0.002
0.0004

$Boolean$

In [1]:
val=True
type(val)

bool

In [2]:
vall=False
type(vall)

bool

- note: use only capital "T" and "F" , dont use "t" and "f" for bool values

$strings$

- english format representation
- string is represented with in the quotes
- we can use single quotes ,double quotes and triple quotes

In [3]:
name='python' #single quotes
name

'python'

In [4]:
type(name)

str

In [6]:
print(name) #quotes are not visable when u print

python

In [7]:
val='10' # if we use quotes to the integer it will be a string
type(val)

str

In [8]:
vall=10  # if we dint use quotes to the integer it will be a integer
type(vall)

int

In [9]:
# double quotes
name="naresh it" # output will be in single quotes
name

'naresh it'

In [11]:
type(name)

str

In [12]:
print(name)

naresh it

In [16]:
str1="i love 'python'" # hightlight word
print(str1)

i love 'python'

- entire string is in double quotes, the highlighted word will be in single quotes
- entire string is in single quotes, the highlighted word will be in duble quotes

In [ ]:
#triple quotes
"""hai
im learning python
its easy"""

- triple quotes cannot use in coding part
- triple codes means conveying the information
- this process is called as **Doc String**
- but in vs code or pycharm there is no markdown then user will convey the info by providing triple quotes

In [ ]:
true=True #works
true='True' #works
true=10.5 #works
True=10 #fails
True=True #fails